@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Kaisei+Opti:wght@500&display=swap");
@font-face {
    font-family: "Vivaldi";
    src: url("./fonts/vivaldi-italic_1-webfont.woff") format(woff);
    src: url("./fonts/vivaldi-italic_1-webfont.woff2") format(woff2);
  }
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: rgb(0, 20, 40);
  color: #FFF;
  font-family: "Darker Grotesque";
}

[class*=__container] {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0px 35px;
}
@media (max-width: 700px) {
  [class*=__container] {
    padding: 0px 15px;
  }
}

[data-anims] {
  -webkit-transform: translate(0, 60%);
          transform: translate(0, 60%);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}

[data-anims]._active {
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

[data-anims-left] {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}
[data-anims-left]._active-anim {
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

[data-anims-right] {
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}
[data-anims-right]._active-anim {
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

[data-anims-opacity] {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
}
[data-anims-opacity]._active {
  opacity: 1;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}

.a {
  position: relative;
  cursor: pointer;
}
.a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #ffffff;
  height: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.a:hover::after {
  content: "";
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.p {
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.h {
  color: #FFF;
  font-family: "Kaisei Opti";
  font-size: 200px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 200px */
  letter-spacing: 20px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .h {
    font-size: 140px;
  }
}
@media (max-width: 1200px) and (max-width: 800px) {
  .h {
    font-size: 70px;
  }
}
.h span {
  color: #FF9A51;
  font-family: Vivaldi;
  font-style: italic;
  font-weight: 400;
}

.header {
  z-index: 4;
}
.header__container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
    @media (max-width: 600px) {
                gap: 26px;
    }
}

.hero {
  position: relative;
}
.hero__img {
  z-index: -1;
  top: -120px;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.hero__img-fog {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -640px;
  opacity: 0.4;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.hero__title {
  padding-top: 30px;
  margin-bottom: 320px;
}
@media (min-width: 900px) {
  .hero__title {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .hero__title {
    letter-spacing: 10px;
  }
}
@media (max-width: 900px) {
  .hero__title {
    margin-bottom: 70px;
  }
}
.hero__main-block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 220px;
}
@media (max-width: 900px) {
  .hero__main-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .hero__main-block {
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.hero__text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  max-width: 330px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  /* 21.6px */
  letter-spacing: 0.36px;
}
@media (max-width: 900px) {
  .hero__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.hero__text span {
  position: absolute;
  top: 0;
  right: -22px;
  background: #ffffff;
  width: 1px;
  height: 100%;
  border-radius: 50px;
}
.hero__text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  background: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50px;
}
.hero__text::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -25px;
  background: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50px;
}
.hero__subtitle {
  padding-bottom: 16px;
  font-size: 30px;
}
.hero__scrolldown {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 900px) {
  .hero__scrolldown {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    left: -30px;
  }
}
@media (max-width: 900px) and (max-width: 530px) {
  .hero__scrolldown {
    margin: 0 auto;
    left: 0;
    margin-top: 90px;
  }
}
.hero__scrolldown span::after {
  content: "";
  background: url("img/hero/scrolldown.svg") no-repeat;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 90px;
}
.hero__button {
  padding: 20px 110px 20px 19px;
  color: #FFF;
  font-family: "Kaisei Opti";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 21.6px */
  letter-spacing: 0.36px;
  border-radius: 50px;
  border: 1px solid #FFF;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hero__button:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #ffffff;
  color: #FF9A51;
}
.hero__button::after {
  content: "";
  background: url("img/hero/goroutes.svg") no-repeat;
  width: 68px;
  height: 31px;
  position: absolute;
  top: 15px;
  right: 19px;
}
.hero__button-container {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
@media (max-width: 900px) {
  .hero__button-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 200px;
  }
}

.location {
  margin-top: 200px;
  position: relative;
}
.location__backgraund {
  padding-top: 90px;
  z-index: -1;
  top: 0px;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.location__title {
  position: relative;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  max-width: 1300px;
  font-family: "Kaisei Opti";
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 7.5px;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  .location__title {
    font-size: 50px;
  }
}
@media (max-width: 1100px) and (max-width: 800px) {
  .location__title {
    font-size: 35px;
  }
}
.location__subinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.location__subtitle {
  margin-bottom: 30px;
  max-width: 460px;
  color: #FF9A51;
  font-family: "Kaisei Opti";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 33.6px */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.location__info {
  opacity: 0.5;
  max-width: 340px;
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 15.6px */
  letter-spacing: 0.24px;
}
.location .infoblock {
  position: relative;
  margin-top: 300px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.location .infoblock::after {
  z-index: 3;
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: #FFF;
}
@media (max-width: 1100px) {
  .location .infoblock::after {
    display: none;
  }
}
.location .infoblock::before {
  z-index: 3;
  content: "";
  position: absolute;
  top: -25px;
  left: 370px;
  width: 1px;
  height: 100%;
  opacity: 0.5;
  background-color: #FFF;
}
@media (max-width: 1100px) {
  .location .infoblock::before {
    display: none;
  }
}
@media (max-width: 1100px) {
  .location .infoblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 200px;
  }
}
@media (max-width: 1100px) and (max-width: 700px) {
  .location .infoblock {
    margin-top: 60px;
  }
}
.location .infoblock__videoinfo {
  margin-bottom: 140px;
  max-width: 340px;
}
@media (min-width: 900px) {
  .location .infoblock__videoinfo {
    margin-right: 80px;
  }
}
.location .infoblock__title {
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 22.547px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.451px;
  margin-bottom: 20px;
}
.location .infoblock__text {
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 15.031px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 18.037px */
  letter-spacing: 0.301px;
}
.location .slider-vidio {
  margin-left: 0;
}
.location .slider-vidio .swiper-wrapper {
  max-width: 90vw;
  margin-left: 0px;
  margin-top: 0;
}
.location .slider-vidio .swiper-slide__wrapper {
  overflow: hidden;
  position: relative;
  width: 270px;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.8;
}
.location .slider-vidio .swiper-slide__wrapper img {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.location .slider-vidio .swiper-slide__wrapper:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  display: block;
}
.location .slider-vidio .swiper-slide__wrapper:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.location .slider-vidio .swiper-slide__wrapper::after {
  display: none;
  z-index: 3;
  content: "";
  position: absolute;
  top: 35%;
  left: 45%;
  width: 40px;
  height: 40px;
  background: url("img/iconicLocation/play.svg") no-repeat;
}
.location .slider-vidio .swiper-slide__wrapper:hover::after {
  display: block;
}
.location .slider-vidio__title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 16.8px */
  letter-spacing: 0.28px;
}
.location .slider-vidio__title span {
  color: #FF9A51;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.28px;
}
.location .slider-vidio__subtitle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 14.4px */
  letter-spacing: 0.24px;
  text-transform: uppercase;
}
.location .slider-vidio__navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  top: -50px;
  right: 80px;
}
.location .slider-vidio__navigation .slider-vidio__swiper-button-prev {
  position: relative;
  left: -15px;
}
.location .slider-vidio__navigation .slider-vidio__swiper-button-prev:hover {
  cursor: pointer;
}
.location .slider-vidio__navigation .slider-vidio__swiper-button-next {
  position: relative;
  left: 0px;
}
.location .slider-vidio__navigation .slider-vidio__swiper-button-next:hover {
  cursor: pointer;
}
@media (max-width: 1100px) {
  .location .slider-vidio__navigation {
    bottom: -30px;
    left: 20px;
  }
}
@media (max-width: 1100px) and (max-width: 500px) {
  .location .slider-vidio__navigation {
    left: 40px;
  }
}

.restaurants {
  margin-top: 110px;
  margin-bottom: 320px;
}
.restaurants__title {
  margin-bottom: 120px;
  text-align: center;
  font-size: 75px;
}
@media (max-width: 950px) {
  .restaurants__title {
    font-size: 50px;
  }
}
@media (max-width: 950px) and (max-width: 670px) {
  .restaurants__title {
    font-size: 30px;
    letter-spacing: 10px;
  }
}
.restaurants__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  .restaurants__block {
    gap: 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.restaurants__tabmenu {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1100px) {
  .restaurants__tabmenu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.restaurants__menuitem {
  color: #D9D9D9;
  font-family: "Kaisei Opti";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 35px */
  letter-spacing: 3.5px;
  text-transform: uppercase;
}
@media (max-width: 670px) {
  .restaurants__menuitem {
    font-size: 20px;
  }
}
.restaurants__menuitem:hover {
  cursor: pointer;
}
.restaurants__menuitem.active {
  color: #FF9A51;
}
@media (max-width: 1100px) {
  .restaurants__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 700px) {
  .restaurants__img {
    width: 100%;
  }
}
.restaurants__tabblock {
  position: relative;
}
.restaurants__tabblock::after {
  z-index: 3;
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: #FFF;
}
.restaurants__tabblock::before {
  z-index: 3;
  content: "";
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: #FFF;
}
.restaurants .tabitem {
  position: relative;
  margin-top: 160px;
  display: none;
  gap: 20px;
  display: none;
}
.restaurants .tabitem.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .restaurants .tabitem.active {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1200px) and (max-width: 1050px) {
  .restaurants .tabitem.active {
    gap: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.restaurants .tabitem__wrapper {
  max-width: 323px;
  max-height: 326px;
}
@media (max-width: 1050px) {
  .restaurants .tabitem__wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.restaurants .tabitem__name {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  max-width: 566px;
}
@media (max-width: 1050px) {
  .restaurants .tabitem__name {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
  }
}
.restaurants .tabitem__title {
  color: #FF9A51;
  font-family: "Kaisei Opti";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 60px */
  letter-spacing: 6px;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .restaurants .tabitem__title {
    font-size: 40px;
  }
}
.restaurants .tabitem__subtitle {
  color: #FFF;
  font-family: "Kaisei Opti";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 37.5px */
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .restaurants .tabitem__subtitle {
    font-size: 20px;
  }
}
.restaurants .tabitem__text {
  margin-left: auto;
  max-width: 510px;
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 26px */
  letter-spacing: 0.4px;
}
@media (max-width: 1200px) {
  .restaurants .tabitem__text {
    margin-left: 0;
  }
}
@media (max-width: 1200px) and (max-width: 1050px) {
  .restaurants .tabitem__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.accommodations {
  margin-top: 100px;
  margin-bottom: 120px;
}
.accommodations__title {
  text-align: center;
  margin-bottom: 140px;
  color: #FFF;
  font-family: "Kaisei Opti";
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 7.5px;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .accommodations__title {
    font-size: 50px;
  }
}
@media (max-width: 1000px) and (max-width: 750px) {
  .accommodations__title {
    font-size: 35px;
    letter-spacing: 3px;
  }
}
@media (max-width: 1000px) and (max-width: 750px) and (max-width: 500px) {
  .accommodations__title {
    font-size: 25px;
    letter-spacing: 1px;
  }
}
.accommodations__title span {
  color: #FF9A51;
  font-family: Vivaldi;
  font-size: 90px;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 9px;
}
.accommodations .block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 285px 20px 285px 20px 285px 20px 285px;
  grid-template-columns: repeat(4, 285px);
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1360px) {
  .accommodations .block {
    -ms-grid-columns: (285px)[2];
    grid-template-columns: repeat(2, 285px);
    row-gap: 90px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 1360px) and (max-width: 700px) {
  .accommodations .block {
    -ms-grid-columns: (285px)[1];
    grid-template-columns: repeat(1, 285px);
  }
}
.accommodations .block__item {
  position: relative;
  max-width: 285px;
  padding: 0px 10px 0px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.accommodations .block__item::after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  content: "";
  opacity: 0;
  position: absolute;
  background: url("img/whatToSee/arrow.png") no-repeat;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 20px;
  right: 20px;
}
.accommodations .block__item:hover {
  cursor: pointer;
  padding: 0px 0px 0px 0px;
  max-width: 410px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 700px) {
  .accommodations .block__item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.accommodations .block__item:hover::after {
  opacity: 1;
}
.accommodations .block__item:hover .block__number {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #FF9A51;
  font-size: 50px;
  letter-spacing: 1px;
}
.accommodations .block__item:hover .block__title {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #FF9A51;
  font-size: 26px;
  letter-spacing: 0.68px;
}
.accommodations .block__item:hover .block__img {
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}
.accommodations .block__number {
  z-index: 3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 5px;
  left: 25px;
  position: absolute;
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 42px */
  letter-spacing: 0.7px;
}
.accommodations .block .img__wrapper {
  position: relative;
}
.accommodations .block__img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}
.accommodations .block__title {
  max-width: 303px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 30px;
  color: #FFF;
  font-family: "Kaisei Opti";
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  /* 24px */
  letter-spacing: 0.4px;
}

.routes__title {
  color: #FFF;
  font-family: "Kaisei Opti";
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 6.5px;
  text-transform: uppercase;
}
.routes__title span {
  color: #FF9A51;
  font-family: Vivaldi;
  font-size: 80px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 8px;
}
.routes__subtitle {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #FF9A51;
  font-family: "Kaisei Opti";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 45.5px */
  letter-spacing: 3.5px;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .routes__subtitle {
    font-size: 28px;
  }
}
@media (max-width: 850px) {
  .routes .infoblock__img {
    text-align: end;
    margin-bottom: 30px;
  }
  .routes .infoblock__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .routes .infoblock__descriptions {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.routes .infoblock__row {
  border-top: #FFF 1px solid;
  border-bottom: #FFF 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px 30px 0px;
}
.routes .infoblock__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin-bottom: 30px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 33.6px */
  letter-spacing: 0.48px;
}
.routes .infoblock__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
.routes .infoblock__img img {
  width: 270px;
}
.routes .infoblock__descriptions {
  text-align: end;
}
.routes .infoblock__subtitle {
  margin-bottom: 26px;
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 33.6px */
  letter-spacing: 0.48px;
}
.routes .infoblock__text {
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 25.2px */
  letter-spacing: 0.36px;
}

.whatTosSee {
  margin-top: 300px;
}
@media (max-width: 800px) {
  .whatTosSee {
    margin-top: 100px;
  }
}
.whatTosSee__title {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  font-family: "Kaisei Opti";
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 7.5px;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .whatTosSee__title {
    font-size: 55px;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .whatTosSee__title {
    letter-spacing: 5px;
    font-size: 45px;
  }
}
.whatTosSee__title span {
  color: #FF9A51;
  text-align: center;
  font-family: Vivaldi;
  font-size: 90px;
  font-style: italic;
  font-weight: 400;
}
@media (max-width: 800px) {
  .whatTosSee__title span {
    font-size: 60px;
  }
}
.whatTosSee__subtitle {
  max-width: 990px;
  margin-top: 100px;
  margin-bottom: 200px;
  color: #FF9A51;
  font-family: "Kaisei Opti";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 52px */
  letter-spacing: 4px;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 800px) {
  .whatTosSee__subtitle {
    margin-top: 60px;
    margin-bottom: 70px;
    font-size: 32px;
  }
}
.whatTosSee__subtitle::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  background: url("img/whatToSee/Vector.svg") no-repeat;
  width: 75px;
  height: 190px;
}
@media (max-width: 1100px) {
  .whatTosSee__subtitle {
    margin-bottom: 280px;
  }
  .whatTosSee__subtitle::after {
    top: 100%;
    right: 30%;
  }
}
.whatTosSee__slider {
  max-width: 1200px;
  margin: 0 0 0 auto;
}
.whatTosSee .slider-articles__item {
  position: relative;
}
.whatTosSee .slider-articles__item-wrapper {
  max-width: 350px;
  position: relative;
}
.whatTosSee .slider-articles__item-wrapper::after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  content: "";
  opacity: 0;
  position: absolute;
  background: url("img/whatToSee/arrow.png") no-repeat;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 20px;
  right: 40px;
}
.whatTosSee .slider-articles__item-wrapper img {
  border-radius: 20px;
  opacity: 0.6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.whatTosSee .slider-articles__item-wrapper:hover {
  cursor: pointer;
}
.whatTosSee .slider-articles__item-wrapper:hover::after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}
.whatTosSee .slider-articles__item-wrapper:hover img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.9;
}
.whatTosSee .slider-articles__navigation {
  margin-top: 140px;
  position: relative;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.whatTosSee .slider-articles__navigation .slider-articles-swiper-pagination {
  background: #f8f8f8;
}
.whatTosSee .slider-articles__navigation .slider-articles-swiper-pagination span {
  background: #FF9A51;
}
.whatTosSee .arrows {
  position: relative;
  width: 100px;
  height: 40px;
  top: -110px;
}
.whatTosSee .arrows .swiper-button-prev {
  width: 60px;
  height: 60px;
}
.whatTosSee .arrows .swiper-button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -60px;
  width: 60px;
  height: 60px;
}
.whatTosSee .wrapper__title {
  position: absolute;
  max-width: 260px;
  bottom: 20px;
  left: 15px;
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 25.2px */
  letter-spacing: 0.63px;
  text-transform: uppercase;
}

.footer {
  margin-top: 100px;
  position: relative;
}
.footer__backgraund {
  z-index: -1;
  border-radius: 60px 60px 0 0;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.footer__container {
  padding-top: 70px;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  position: relative;
}
@media (max-width: 600px) {
  .footer__menu {
    gap: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__menu span {
  position: absolute;
  bottom: -60px;
  background: #b3b3b3;
  width: 100%;
  height: 1px;
}
.footer__menu::after {
  content: "";
  position: absolute;
  bottom: -62px;
  background: #ffffff;
  width: 4px;
  height: 4px;
  border-radius: 50px;
}
.footer__menu::before {
  content: "";
  position: absolute;
  bottom: -62px;
  right: 0;
  background: #ffffff;
  width: 4px;
  height: 4px;
  border-radius: 50px;
}
.footer__sections {
  max-width: 950px;
}
.footer__sections ul {
  gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1200px) {
  .footer__sections ul {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1200px) and (max-width: 900px) {
  .footer__sections ul {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__subtitle {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 33px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.footer__social-media {
  max-width: 330px;
}
.footer__social-media ul {
  gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.footer__social-media ul li {
  position: relative;
}
.footer__social-media ul li::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: url("img/footer/arrow.svg") no-repeat;
  right: 8px;
}
.footer__social-media ul li:first-child::after {
  right: -15px;
}
.footer__social-media ul li:nth-child(2)::after {
  right: 0px;
}
.footer__social-media ul li:last-child::after {
  right: -15px;
}
.footer__footer {
  padding-top: 60px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__sroll-up {
  color: #FFF;
  font-family: "Darker Grotesque";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 25.2px */
  letter-spacing: 0.63px;
  position: relative;
}
.footer__sroll-up::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("img/footer/vector.png") no-repeat;
  top: -30px;
  left: 35%;
}
