@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Kaisei+Opti:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

//--------------------------------------

body {
    background: rgb(0, 20, 40);
    color: #FFF;
    font-family: "Darker Grotesque";
}

[class*="__container"] {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0px 35px;

    @media (max-width: 700px) {
        padding: 0px 15px;
    }

}



[data-anims] {
    transform: translate(0, 60%);
    transition: 0.8s;
    opacity: 0;
}

[data-anims]._active {
    opacity: 1;
    transition: 0.8s;
    transform: translate(0, 0);
}
[data-anims-left]{
	transform: translate(-50%,00);   
	transition: 0.8s ;  
	opacity: 0;
	&._active-anim{ 
		opacity: 1; 
		transition: 0.8s ;  
		transform: translate(0,0);
	}
}
[data-anims-right]{
	transform: translate(50%,00);   
	transition: 0.8s ;  
	opacity: 0;
	&._active-anim{ 
		opacity: 1; 
		transition: 0.8s ;  
		transform: translate(0,0);
	}
}

[data-anims-opacity]{
	transform: translate(0,0);
	opacity: 0;
	&._active{ 
		opacity: 1; 
		transition: 1.3s ;  
	}
}

.a {
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        background-color: #ffffff;
        height: 1px;
        transition: 0.4s;
    }

    &:hover {
        &::after {
            content: '';
            width: 100%;
            transition: 0.4s;
        }
    }
}

.p {
    color: #FFF;
    font-family: "Darker Grotesque";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.16px;
    text-transform: capitalize;
}

.h {
    color: #FFF;
    font-family: "Kaisei Opti";
    font-size: 200px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 200px */
    letter-spacing: 20px;
    text-transform: uppercase;

    @media (max-width: 1200px) {
        font-size: 140px;

        @media (max-width: 800px) {
            font-size: 70px;
        }
    }

    & span {
        color: #FF9A51;
        font-family: Vivaldi;
        font-style: italic;
        font-weight: 400;
    }
}

//-------------

.header {
    z-index: 4;
    // .header__container

    &__container {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo

    &__logo {}

    // .header__menu

    &__menu {
        & ul {
            display: flex;
            gap: 46px;
        }
    }
}

//------------------------------


.hero {


    position: relative;

    &__img {
        z-index: -1;
        top: -120px;
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        object-position: center;
        object-fit: cover;
        position: absolute;
    }

    &__img-fog {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -640px;
        opacity: 0.4;
        left: 0;
        object-fit: cover;
        position: absolute;
    }

    // .hero__container

    &__container {}

    // .hero__title

    &__title {

        padding-top: 30px;

        margin-bottom: 320px;

        @media (min-width: 900px) {
            text-align: center;
        }

        @media (max-width: 800px) {
            letter-spacing: 10px;
        }

        @media (max-width: 900px) {
            margin-bottom: 70px;


        }
    }

    // .hero__main-block

    &__main-block {
        justify-content: space-between;
        display: flex;
        align-items: end;
        padding-bottom: 220px;

        @media (max-width: 900px) {
            flex-wrap: wrap;

            @media (max-width: 520px) {
                padding-bottom: 50px;
                flex-direction: column;
                gap: 15px;
                align-items: flex-start;
            }
        }

    }

    // .hero__text

    &__text {
        order: 1;

        @media (max-width: 900px) {
            order: 2;
        }

        position: relative;

        & span {
            position: absolute;
            top: 0;
            right: -22px;
            background: #ffffff;
            width: 1px;
            height: 100%;
            border-radius: 50px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -25px;
            background: #ffffff;
            width: 8px;
            height: 8px;
            border-radius: 50px;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: -25px;
            background: #ffffff;
            width: 8px;
            height: 8px;
            border-radius: 50px;
        }

        max-width: 330px;

        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        /* 21.6px */
        letter-spacing: 0.36px;
    }

    // .hero__subtitle

    &__subtitle {
        padding-bottom: 16px;
        font-size: 30px;
    }

    // .hero__info

    &__info {}

    // .hero__scrolldown

    &__scrolldown {
        position: relative;
        order: 2;

        @media (max-width: 900px) {
            order: 3;
            left: -30px;

            @media (max-width: 530px) {
                margin: 0 auto;
                left: 0;
                margin-top: 90px;
            }
        }

        & span {
            &::after {

                content: "";
                background: url('img/hero/scrolldown.svg') no-repeat;
                width: 22px;
                height: 22px;
                position: absolute;

                left: 90px;
            }
        }

    }

    // .hero__button
    &__button {
        padding: 20px 110px 20px 19px;
        color: #FFF;

        font-family: "Kaisei Opti";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 21.6px */
        letter-spacing: 0.36px;

        border-radius: 50px;
        border: 1px solid #FFF;

        position: relative;
        transition: 0.4s;

        &:hover {
            transition: 0.4s;
            background: #ffffff;
            color: #FF9A51;
        }

        &::after {
            content: "";
            background: url('img/hero/goroutes.svg') no-repeat;

            width: 68px;
            height: 31px;
            position: absolute;
            top: 15px;
            right: 19px;
        }
    }

    &__button-container {
        order: 3;

        @media (max-width: 900px) {
            order: 1;
            flex: 0 0 100%;
            margin-bottom: 200px;

        }


    }
}





.location {
    margin-top: 200px;
    position: relative;
    // .location__backgraund

    &__backgraund {
        padding-top: 90px;
        z-index: -1;
        top: 0px;
        opacity: 0.2;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        object-position: center;
        object-fit: cover;
        position: absolute;
    }

    // .location__container

    &__container {}

    // .location__title

    &__title {
        position: relative;
        color: #FFF;
        text-align: center;
        margin: 0 auto;
        max-width: 1300px;
        font-family: "Kaisei Opti";
        font-size: 75px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: 7.5px;
        text-transform: uppercase;

        @media (max-width: 1100px) {
            font-size: 50px;

            @media (max-width: 800px) {
                font-size: 35px;
            }


        }
    }

    // .location__subinfo

    &__subinfo {
        display: flex;

        justify-content: space-between;
        flex-wrap: wrap;

    }

    // .location__subtitle

    &__subtitle {
        margin-bottom: 30px;
        max-width: 460px;
        color: #FF9A51;
        font-family: "Kaisei Opti";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 33.6px */
        letter-spacing: 2.4px;
        text-transform: uppercase;

    }

    // .location__info

    &__info {
        opacity: 0.5;
        max-width: 340px;
        color: #FFF;
        font-family: "Darker Grotesque";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 15.6px */
        letter-spacing: 0.24px;
    }


    .infoblock {
        position: relative;

        &::after {
            z-index: 3;
            content: '';
            position: absolute;
            top: -25px;
            left: 0;
            width: 100%;
            height: 1px;
            opacity: 0.5;
            background-color: #FFF;

            @media (max-width: 1100px) {
                display: none;
            }

        }

        &::before {
            z-index: 3;
            content: '';
            position: absolute;
            top: -25px;
            left: 370px;
            width: 1px;
            height: 100%;
            opacity: 0.5;
            background-color: #FFF;

            @media (max-width: 1100px) {
                display: none;
            }

        }

        margin-top: 300px;
        padding-bottom:70px;
        display: flex;
        justify-content: space-between;

        // .infoblock__videoinfo
        @media (max-width: 1100px) {
            flex-direction: column;
            margin-top: 200px;

            @media (max-width: 700px) {
                margin-top: 60px;
            }
        }

        &__videoinfo {
            margin-bottom: 140px;

            @media (min-width: 900px) {
                margin-right: 80px;
            }

            max-width: 340px;


        }

        // .infoblock__title

        &__title {
            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 22.547px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 0.451px;
            margin-bottom: 20px;
        }

        // .infoblock__text

        &__text {


            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 15.031px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 18.037px */
            letter-spacing: 0.301px;
        }

        // .infoblock__slider

        &__slider {}
    }

    .slider-vidio {
        margin-left: 0;



        .swiper-wrapper {
            max-width: 90vw;
            margin-left: 0px;
            margin-top: 0;



        }

        .swiper-slide__wrapper {
            overflow: hidden;
            position: relative;
            width: 270px;
            opacity: 1;


            transition: 0.5s;
            opacity: 0.8;


            & img {
                opacity: 1;
                transition: 0.5s;

            }

            &:hover {
                transition: 0.5s;
                opacity: 1;
                display: block;

                & img {
                    transition: 0.5s;
                    transform: scale(1.2);
                }


            }

            &::after {


                display: none;
                z-index: 3;
                content: '';
                position: absolute;
                top: 35%;
                left: 45%;
                width: 40px;
                height: 40px;
                background: url('img/iconicLocation/play.svg') no-repeat;
            }

            &:hover::after {

                display: block;
            }
        }

        &__swiper-slide {}

        // .slider-vidio__title

        &__title {
            position: absolute;
            top: 20px;
            left: 20px;
            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 16.8px */
            letter-spacing: 0.28px;

            & span {
                color: #FF9A51;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0.28px;
            }
        }

        // .slider-vidio__subtitle

        &__subtitle {
            position: absolute;
            bottom: 20px;
            right: 20px;
            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 14.4px */
            letter-spacing: 0.24px;
            text-transform: uppercase;
        }

        // .slider-vidio__navigation

        &__navigation {
            position: absolute;
            display: flex;
            gap: 30px;
            top: -50px;
            right: 80px;

            .slider-vidio__swiper-button-prev {
                &:hover {
                    cursor: pointer;
                }

                position: relative;
                left: -15px;
            }

            .slider-vidio__swiper-button-next {
                &:hover {
                    cursor: pointer;
                }

                position: relative;
                left: 0px;
            }



            @media (max-width: 1100px) {
                bottom: -30px;
                left: 20px;

                @media (max-width: 500px) {
                    left: 40px;
                }


            }

        }
    }


}






.restaurants {
    margin-top: 110px;
    margin-bottom: 320px;
    // .restaurants__container

    &__container {}

    // .restaurants__title

    &__title {
        margin-bottom: 120px;
        text-align: center;
        font-size: 75px;

        @media (max-width: 950px) {
            font-size: 50px;

            @media (max-width: 670px) {
                font-size: 30px;
                letter-spacing: 10px;
            }
        }
    }

    // .restaurants__block

    &__block {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1100px) {
            gap: 60px;
            flex-wrap: wrap;
        }
    }

    // .restaurants__tabmenu

    &__tabmenu {
        @media (max-width: 1100px) {
            order: 2;
        }

        margin: auto 0;

        display: flex;
        gap: 40px;
        flex-direction: column;


    }

    // .restaurants__menuitem

    &__menuitem {
        color: #D9D9D9;
        font-family: "Kaisei Opti";
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 35px */
        letter-spacing: 3.5px;
        text-transform: uppercase;

        @media (max-width: 670px) {
            font-size: 20px;
        }

        &:hover {
            cursor: pointer;
        }

        &.active {
            color: #FF9A51;
        }
    }

    // .restaurants__img

    &__img {
        @media (max-width: 1100px) {
            order: 1;
        }

        @media (max-width: 700px) {
            width: 100%;
        }
    }

    // .restaurants__tabblock

    &__tabblock {
        position: relative;

        &::after {
            z-index: 3;
            content: '';
            position: absolute;
            top: -60px;
            left: 0;
            width: 100%;
            height: 1px;
            opacity: 0.5;
            background-color: #FFF;

        }

        &::before {
            z-index: 3;
            content: '';
            position: absolute;
            bottom: -60px;
            left: 0;
            width: 100%;
            height: 1px;
            opacity: 0.5;
            background-color: #FFF;

        }
    }

    // .restaurants__tabitem

    & .tabitem {
        position: relative;



        margin-top: 160px;
        display: none;
        gap: 20px;
        display: none;

        &.active {
            display: flex;

            @media (max-width: 1200px) {
                flex-wrap: wrap;

                @media (max-width: 1050px) {
                    gap: 40px;
                    flex-direction: column;
                }

            }

        }


        // .tabitem__img
        &__wrapper {
            @media (max-width: 1050px) {
                order: 2;
            }

            max-width: 323px;
            max-height: 326px;
        }

        &__img {}

        // .tabitem__name

        &__name {
            @media (max-width: 1050px) {
                order: 1;
                margin-left: 0;
            }

            margin-left:50px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            max-width: 566px;
        }

        // .tabitem__title

        &__title {
            color: #FF9A51;
            font-family: "Kaisei Opti";
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 60px */
            letter-spacing: 6px;
            text-transform: uppercase;

            @media (max-width: 500px) {
                font-size: 40px;
            }
        }

        // .tabitem__subtitle

        &__subtitle {
            color: #FFF;
            font-family: "Kaisei Opti";
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            /* 37.5px */
            letter-spacing: 2.5px;
            text-transform: uppercase;

            @media (max-width: 500px) {
                font-size: 20px;
            }
        }

        // .tabitem__text

        &__text {
            margin-left: auto;
            max-width: 510px;
            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            /* 26px */
            letter-spacing: 0.4px;

            @media (max-width: 1200px) {
                margin-left: 0;

                @media (max-width: 1050px) {
                    order: 3;
                }
            }
        }
    }
}







.accommodations {
    margin-top: 100px;
    margin-bottom: 120px;
    // .accommodations__container

    &__container {}

    // .accommodations__title

    &__title {
        text-align: center;
        margin-bottom: 140px;
        color: #FFF;
        font-family: "Kaisei Opti";
        font-size: 75px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 7.5px;
        text-transform: uppercase;

        @media (max-width: 1000px) {
            font-size: 50px;

            @media (max-width: 750px) {
                font-size: 35px;
                letter-spacing: 3px;

                @media (max-width: 500px) {
                    font-size: 25px;
                    letter-spacing: 1px;
                }
            }

        }

        & span {
            color: #FF9A51;
            font-family: Vivaldi;
            font-size: 90px;
            font-style: italic;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 9px;
        }
    }

    // .accommodations__block


    .block {
        display: grid;
        grid-template-columns: repeat(4, 285px);
        gap: 20px;
        justify-content: space-between;

        @media (max-width: 1360px) {
            grid-template-columns: repeat(2, 285px);
            row-gap: 90px;
            justify-content: space-around;

            @media (max-width: 700px) {
                grid-template-columns: repeat(1, 285px);
            }
        }

        // .block__item

        &__item {
            position: relative;
            max-width: 285px;
            padding: 0px 10px 0px 10px;
            transition: 0.4s;

            &::after {
                transition: 0.4s;
                content: '';
                opacity: 0;
                position: absolute;
                background: url('img/whatToSee/arrow.png') no-repeat;
                width: 60px;
                height: 60px;
                transform: rotate(135deg);
                top: 20px;
                right: 20px;
            }

            &:hover {
                cursor: pointer;
                padding: 0px 0px 0px 0px;
                max-width: 410px;
                transition: 0.4s;
                transform: scale(1.1);

                @media (max-width: 700px) {
                    transform: scale(1.05);
                }

                &::after {
                    opacity: 1;
                }

                .block__number {
                    transition: 0.4s;
                    color: #FF9A51;
                    font-size: 50px;
                    letter-spacing: 1px;

                }

                .block__title {
                    transition: 0.4s;
                    color: #FF9A51;
                    font-size: 26px;
                    letter-spacing: 0.68px;
                }

                .block__img {
                    position: relative;

                    transition: 0.4s;
                    z-index: -1;



                }
            }

        }

        // .block__number

        &__number {
            z-index: 3;
            transition: 0.4s;
            top: 5px;
            left: 25px;
            position: absolute;
            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 35px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 42px */
            letter-spacing: 0.7px;
        }

        // .block__img
        .img__wrapper {
            position: relative;



        }

        &__img {
            transition: 0.4s;
            width: 100%;


        }

        // .block__title

        &__title {
            max-width: 303px;
            transition: 0.4s;
            margin-top: 30px;
            color: #FFF;
            font-family: "Kaisei Opti";
            font-size: 20px;
            font-weight: 500;
            line-height: 120%;
            /* 24px */
            letter-spacing: 0.4px;
        }
    }
}










.routes {

    // .rotes__container

    &__container {}

    // .rotes__title

    &__title {

        color: #FFF;
        font-family: "Kaisei Opti";
        font-size: 65px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 6.5px;
        text-transform: uppercase;

        & span {
            color: #FF9A51;
            font-family: Vivaldi;
            font-size: 80px;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 8px;
        }

    }

    // .rotes__subtitle

    &__subtitle {
        margin-top: 100px;
        margin-bottom: 100px;

        @media (max-width: 700px) {
            font-size: 28px;

        }

        color: #FF9A51;
        font-family: "Kaisei Opti";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        /* 45.5px */
        letter-spacing: 3.5px;
        text-transform: uppercase;
    }

    // .rotes__infoblock

    .infoblock {

        // .infoblock__row
        @media (max-width: 850px) {
            &__img {
                text-align: end;
                margin-bottom: 30px;
            }

            &__row {
                flex-wrap: wrap;


            }

            &__descriptions {
                flex: 0 0 100%;


            }

        }

        &__row {
            border-top: #FFF 1px solid;
            border-bottom: #FFF 1px solid;
            display: flex;
            padding: 30px 0px 30px 0px;

            @media (max-width: 850px) {}

        }

        // .infoblock__title

        &__title {
            flex: 0 0 20%;
            margin-bottom: 30px;
            text-align: center;
            align-self: center;


            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 33.6px */
            letter-spacing: 0.48px;

        }

        // .infoblock__img

        &__img {
            flex: 1 1 30%;

            & img {
                width: 270px;
            }
        }

        // .infoblock__descriptions

        &__descriptions {
            text-align: end;

        }

        // .infoblock__subtitle

        &__subtitle {
            margin-bottom: 26px;


            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 33.6px */
            letter-spacing: 0.48px;
        }

        // .infoblock__text

        &__text {
            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            /* 25.2px */
            letter-spacing: 0.36px;
        }
    }
}







.whatTosSee {
    margin-top: 300px;

    @media (max-width: 800px) {
        margin-top: 100px;
    }

    // .whatTosSee__container

    &__container {}

    // .whatTosSee__title

    &__title {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        color: #FFF;
        font-family: "Kaisei Opti";
        font-size: 75px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 7.5px;
        text-transform: uppercase;

        @media (max-width: 800px) {
            font-size: 55px;

            @media (max-width: 500px) {
                letter-spacing: 5px;
                font-size: 45px;
            }

        }

        & span {
            @media (max-width: 800px) {
                font-size: 60px;
            }

            color: #FF9A51;
            text-align: center;
            font-family: Vivaldi;
            font-size: 90px;
            font-style: italic;
            font-weight: 400;
        }
    }

    // .whatTosSee__subtitle

    &__subtitle {
        max-width: 990px;
        margin-top: 100px;
        margin-bottom: 200px;

        @media (max-width: 800px) {
            margin-top: 60px;
            margin-bottom: 70px;
            font-size: 32px;
        }

        color: #FF9A51;
        font-family: "Kaisei Opti";
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        /* 52px */
        letter-spacing: 4px;
        text-transform: uppercase;

        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -50px;
            background: url('img/whatToSee/Vector.svg') no-repeat;
            width: 75px;
            height: 190px;

        }

        @media (max-width: 1100px) {
            margin-bottom: 280px;

            &::after {
                top: 100%;
                right: 30%;

            }
        }
    }

    // .whatTosSee__slider

    &__slider {
        max-width: 1200px;
        margin: 0 0 0 auto;
    }

    .slider-articles {

        // .slider-articles__wrapper

        &__wrapper {}

        // .slider-articles__item

        &__item {

            position: relative;

        }

        // .slider-articles__item-wrapper

        &__item-wrapper {

            max-width: 350px;
            position: relative;

            &::after {
                transition: 0.4s;
                content: '';
                opacity: 0;
                position: absolute;
                background: url('img/whatToSee/arrow.png') no-repeat;
                width: 60px;
                height: 60px;
                transform: rotate(135deg);
                top: 20px;
                right: 40px;
            }

            & img {
                border-radius: 20px;
                opacity: 0.6;
                transition: 0.4s;
            }

            &:hover {
                cursor: pointer;

                &::after {
                    transition: 0.4s;
                    opacity: 1;
                }

                & img {
                    transition: 0.4s;
                    opacity: 0.9;
                }
            }
        }

        // .slider-articles__navigation

        &__navigation {
            margin-top: 140px;
            position: relative;
            width: 100%;
            height: 40px;
            display: flex;



            .slider-articles-swiper-pagination {
                background: #f8f8f8;

                & span {
                    background: #FF9A51;
                }
            }
        }

    }

    .arrows {
        position: relative;
        width: 100px;
        height: 40px;
        top: -110px;

        .swiper-button-prev {
            width: 60px;
            height: 60px;
        }

        .swiper-button-next {
            transform: rotate(180deg);
            right: -60px;
            width: 60px;
            height: 60px;
        }
    }

    .wrapper {

        // .wrapper__title

        &__title {
            position: absolute;
            max-width: 260px;
            bottom: 20px;
            left: 15px;
            color: #FFF;
            font-family: "Darker Grotesque";
            font-size: 21px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 25.2px */
            letter-spacing: 0.63px;
            text-transform: uppercase;
        }


    }
}










.footer {
    margin-top: 100px;
    // .footer__backgraund
    position: relative;

    &__backgraund {
        z-index: -1;
        border-radius: 60px 60px 0 0;
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        object-position: top;
        object-fit: cover;
        position: absolute;
    }

    // .footer__container

    &__container {
        padding-top: 70px;
    }

    // .footer__menu

    &__menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        @media (max-width: 600px) {
            gap: 60px;
            flex-direction: column;
        }

        position: relative;

        & span {
            position: absolute;
            bottom: -60px;

            background: #b3b3b3;
            width: 100%;
            height: 1px;

        }

        &::after {
            content: '';
            position: absolute;
            bottom: -62px;
            background: #ffffff;
            width: 4px;
            height: 4px;
            border-radius: 50px;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -62px;
            right: 0;
            background: #ffffff;
            width: 4px;
            height: 4px;
            border-radius: 50px;
        }
    }

    // .footer__sections

    &__sections {
        max-width: 950px;

        & ul {
            gap: 30px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @media (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);

                @media (max-width: 900px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

        }


    }

    // .footer__subtitle

    &__subtitle {
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        /* 33px */
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    // .footer__social-media

    &__social-media {
        max-width: 330px;

        & ul {

            gap: 30px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            & li {
                position: relative;
            }

            & li::after {

                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: url('img/footer/arrow.svg') no-repeat;
                right: 8px;

            }

            & li:first-child {
                &::after {
                    right: -15px;
                }

            }

            & li:nth-child(2) {
                &::after {
                    right: 0px;
                }

            }

            & li:last-child {
                &::after {
                    right: -15px;
                }

            }

        }

    }

    // .footer__footer

    &__footer {
        padding-top: 60px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    // .footer__author

    &__author {}

    // .footer__sroll-up

    &__sroll-up {
        color: #FFF;
        font-family: "Darker Grotesque";
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        /* 25.2px */
        letter-spacing: 0.63px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: url('img/footer/vector.png') no-repeat;
            top: -30px;
            left: 35%;
        }
    }
}